

@font-face {
  font-family: 'ArialNarrow';
  src:url('../fonts/ArialNarrow.eot?-kwf309');
  src:url('../fonts/ArialNarrow.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/ArialNarrow.woff?-kwf309') format('woff'),
    url('../fonts/ArialNarrow.ttf?-kwf309') format('truetype'),
    url('../fonts/ArialNarrow.svg?-kwf309#AA-Arial') format('svg');
  font-weight: normal;
  font-style: normal;
}  




* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;

}

body {
  color: #727271;
  font-size: 16px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #ebecec;
}

a {color: #727271;}
a:hover {color: #727271;}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.clear {clear:both;}


button {
  border:none;
  background: none;
  box-shadow: unset;
  
}

button:focus {
  outline: none;
  box-shadow: unset;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  padding: 10px 0 10px 0;
  background: #fff;
  border-bottom: 3px solid #bdbebe;
}

.logo a img {
  width: 210px;
}

.head__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head__block {
  display: flex;
  align-items: center;
}

.slogan {
  border-left: 2px solid #979799;
  margin: 19px 0 0 15px;
  padding: 0 0 0 15px;
  color:#979799;
  text-transform: uppercase;
  /* font-weight: bold; */
  font-size: 14px;
}

.head__block2 {

}

.menu__top {
  display: flex;
}

.menu__top li {
  margin: 0 0 0 35px;
}

.menu__top li a {
  text-decoration: none;
}

.content {

  background: url(../images/main-bg.png) 0 0 no-repeat;
  background-size: cover;
}

.news__block_wrap {
  display: flex;
  justify-content: flex-end;
}

.news__block {
  width: 320px;
  overflow-y: scroll;
  height: 710px;
  margin: 0 15px 0 0px;
}

h1 {
  font-size: 32px;
  margin: 20px 0 20px 0;
}

.news__date {
  font-weight: bold;
  font-size: 20px;
  margin: 0 0 10px 0;
}

.news__text {
  font-weight: bold;
  margin: 0 15px 33px 0;
}

footer {
  padding: 30px 0 30px 0;
  background: #ebecec;
  border-top: 3px solid #bdbebe;
}

.logo__bottom {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.logo__bottom img {
  width: 60px;
  margin: 0 30px 0 0;
}


.logo__bottom span a {
  text-decoration: none;
}
















